<header class="header">
  <nav class="navbar">
    <a id="logo" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <div class="tabs">
        {{ with .Site.Menus.navbar }}
          {{ range sort .}}
            <a href="{{ .URL | absURL}}">{{ .Name }}</a>
          {{ end }}
        {{ end }}
    </div>
  </nav>

    <!-- <ul class="navbar-items">
        <li class="navbar-item navbar-item-home">
          <a class="navbar-item-link" href="/">Home</a>
        </li>
        {{ with .Site.Menus.navbar }}
          {{ range sort . }}
            <li class="navbar-item">
              <a class="navbar-item-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        {{ end }}
      {{ if .Site.IsMultiLingual }}
        {{ $node := . }}
        {{ .Scratch.Set "separator" true }}

        {{ range .Site.Home.AllTranslations }}
          {{ if ne $.Site.Language .Language }}
            {{ if $node.Scratch.Get "separator" }}
              <li>
                <p>{{ .Site.Params.LangSeparator }}</p>
              </li>
              {{ $node.Scratch.Set "separator" false }}
            {{ end }}
            <li>
              <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul> -->

    <!-- <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
    </label> -->

</header>
