<header class="header">
    <a href="" class="logo">
      <!-- <img src="images/TKS.png" alt="The Krystal Ship" title="TheKrystalShip"> --> {{ .Site.Title }}
    </a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
    </label>
    <ul class="menu">
        <li class="navigation-item navigation-item-home">
          <a class="navigation-link" href="/">Home</a>
        </li>
        {{ with .Site.Menus.main }}
        {{ range sort . }}
          <li class="navigation-item">
            <a class="navigation-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      {{ end }}
      {{ if .Site.IsMultiLingual }}
        {{ $node := . }}
        {{ .Scratch.Set "separator" true }}

        {{ range .Site.Home.AllTranslations }}
          {{ if ne $.Site.Language .Language }}
            {{ if $node.Scratch.Get "separator" }}
              <li>
                <p>{{ .Site.Params.LangSeparator }}</p>
              </li>
              {{ $node.Scratch.Set "separator" false }}
            {{ end }}
            <li>
              <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
</header>
