<header class="project-article-header">
    <h1 class="project-title">{{ .Title }}</h1>
    <div class="project-meta">
        <p class="project-publish-date">Published on {{ .Date.Format "January 2, 2006" }}</p>
        {{ with .Params.Author }}
        <a class="project-author" href="developers/{{ . }}">{{ . }}</a>
        {{ end }}
    </div>
    <div class="project-tags">
        {{ with .Params.categories }}
            {{ range sort . }}
                <a class="badge" href="categories/{{ . }}">{{ . }}</a>
            {{ end }}
        {{ end }}
    </div>
</header>
